body{
    background-color: hsl(212, 45%, 89%);
    /* center the card responsive */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}

.qrcode-container{
    max-width: 270px; /* container responsive */
    padding: 10px;

    /* This will center the qrcode container on the page */
 /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */

    border-radius: 10px;
}

img{
    width: 100%; /* image responsive */
    display: block;
    border-radius: 10px;
}

.qrcode-title, .qrcode-paragraph{
    font-family: 'Outfit', 'sans-serif';
    text-align: center;
}
.qrcode-title{
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}
.qrcode-paragraph{
    margin: 0;
    color: grey;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
}

.attribution{
    font-family: 'Outfit', 'sans-serif';
    position: absolute;
    top: 95%;
}

/* The text change depending on the pixels of the screen */
@media screen and (min-width: 400px){
    .attribution{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .attribution{
        font-size: 11px;
    }
}