.qrcode-ctnr{
    width: 250px;
    max-width: 70%; /* container responsive */
    height: 400px;
    padding: 10px;
    
    /* This will center the qrcode container on the page */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-radius: 10px;
}

img{
    /* Size for the qr code image */
    width: 250px;
    max-width: 100%; /* qr code responsive */
    height: auto; /* not understood this very well */
    border-radius: 10px;
}

.qrcode-title, .qrcode-par{
    font-family: 'Outfit', 'sans-serif';
    text-align: center;
}
.qrcode-title{
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}
.qrcode-par{
    margin: 0;
    color: grey;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
}

.attribution{
    font-family: 'Outfit', 'sans-serif';
    position: absolute;
    top: 95%;
}