body{
    background-color: hsl(212, 45%, 89%);
    /* center the card responsive */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}

.qrcode-container{
    max-width: 285px; /* container responsive */
    padding: 13px;

    /* This will center the qrcode container on the page --NOT USING-- */
 /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */

    border-radius: 13px;
    box-shadow: 5px 10px 50px rgba(12, 12, 12, 0.292); /* container shadow */
}

img{
    width: 100%; /* image responsive */
    display: block;
    border-radius: 13px;
}

.qrcode-title, .qrcode-paragraph{
    font-family: 'Outfit', 'sans-serif';
    text-align: center;
}
.qrcode-title{
    margin: 0;
    color: rgb(32, 32, 32);
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    padding-top: 20px;
}
.qrcode-paragraph{
    margin: 0;
    color: grey;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    padding-top: 0;
}

.attribution{
    font-family: 'Outfit', 'sans-serif';
    position: absolute;
    top: 95%;
}

/* The text change depending on the pixels of the screen */
@media screen and (min-width: 400px){
    .attribution{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .attribution{
        font-size: 11px;
    }
}

/* The card will change max-width when the screen arrives at 350px */
@media screen and (max-width: 350px){
    .qrcode-container{
        max-width: 220px;
    }
}